    @using ELearningProject.Models

@{
    ViewBag.Title = "NewsIndex";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}
<br />
<br />
<div style="position:relative; left:8%">
    <section class="main-content">
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="single-post">
                            <div class="type-standard">
                                <article class="post type-post" style="">
                                    <div class="top-content text-center">
                                        <span class="category"><a href="categories.html">Learning English</a></span><!-- /.category -->
                                        <h2 class="entry-title"><a href="standard.html">ABC</a></h2><!-- /.entry-title -->
                                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                    </div><!-- /.top-content -->

                                    <div class="entry-thumbnail"><img src="~/imgnews/bg-img/play-picture.jpg" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->

                                    <div class="entry-content">
                                        <p>
                                            EzEnglish
                                        </p>
                                        <p>
                                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse viverra a massa sed viverra. Donec na vel magna vestibulum luctus vel non lectus. Suspendisse semper sodales quam vel lacinia. Maecenas iaculis commodo diam o erat, eu aliquam enim.
                                        </p>
                                        <p>
                                            Donec feugiat velit in gravida iaculis. Proin rutrum quam vitae diam ullamcorper semper. Morbi lectus ipsum, tristique eget nibh non, tincidunt auctor turpis. Nunc sit amet vestibulum odio. Donec fringilla venenatis urna, vitae viverra mauris convallis sodales.
                                        </p>
                                        <p>
                                            Maecenas vitae nulla odio. Proin sit amet sollicitudin tellus. Sed onvallis felis, sed sagittis ligula. Donec molestie sodales vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tincidunt metus magna, quis com modo dolor tempus in. Sed gravida porta ultricies. Phasellus facilisis ex eget elit blandit elementum. Donec at laoreet rutrum vel.
                                        </p>
                                        <blockquote>
                                            “Atesque habitant morbi tristique et netus et fames ac turpis egestas vitae suada enim.”
                                        </blockquote>
                                        <p>
                                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque a sagittis odio in scelerisque egestas. In lacinia rhoncus mauris, at porta augue dignissim ultrices. Duis pharetra augue eget mi lobortis facilisis. Suspendisse ullamcorper sagittis sapien, non viverra eros cursus eu. Fusce dapibus enim eu ligula euismod lobortis. Pellenteze a cursus dicin. Ultrices. Nam in scelerisque mi, a sollicitudin lacus. Nam quis interdum erat. Fusce cursus purus teger consectetur tortor.
                                        </p>
                                        <p>
                                            Metosit amet pellentesque lgula dignissim ac. Praesent a diam dignissim, blandit lacus molestie mauris. Integer semper lobortis dapibus. Lorem risus porttitor eros, sed tincidunt urna eros sed lacus. Aliquam finibus commodo quam nec suscipit. Cras eleifend mi eget mattis tempus. Quisque eleifend finibus fringilla. Mauris non nunc non justo pretium rhoncus. In  mauris facilisis semper.
                                        </p>
                                        <p>
                                            Morbi tortor leo, ultrices quis bibendum vel, gravida sit amet nisl. Quisque quis enim rhoncus, mollis libero id, volutpat lacus. Nam eget nisi ut lacus faucibus maximus. Morbi porttitor ligula risus, eget consequat velit dictum tique, pharetra felis eu, gravida ante.
                                        </p>

                                        <div class="post-meta">
                                            <span class="comments pull-left"><i class="icon_comment_alt"></i> <a href="#">4 Comments</a></span><!-- /.comments -->
                                            <span class="post-social pull-right">
                                                <a href="#"><i class="fa fa-instagram"></i></a>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                            </span><!-- /.post-social -->
                                        </div><!-- /.post-meta -->
                                    </div><!-- /.entry-content -->
                                </article><!-- /.post -->
                            </div><!-- /.type-standard -->

                            <div class="author-bio media">
                                <div class="author-avatar media-left pull-left"><img class="img-circle" src="~/imgnews/bg-img/40.jpg" alt="Avatar"></div><!-- /.author-avatar -->
                                <div class="author-details media-body">
                                    <h3 class="name"><a href="#">Alex Martinez</a></h3>
                                    <p>
                                        Donec sed elementum mi. Duis mattis dolor ante, eleifend dapibus ipsum pellentesque venenatis. Nullam elementum ligula et rhoncus interdum. In malesuada
                                    </p>
                                    <div class="social">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div><!-- /.social -->
                                </div><!-- /.author-details -->
                            </div><!-- /.author-bio -->


                            <div class="comments text-center">
                                <h3 class="comment-title">4 comments</h3><!-- /.comment-title -->

                                <ul class="comment-list">
                                    <li class="comment parent media">
                                        <div class="author-avatar media-left pull-left">
                                            <img class="img-circle" src="~/imgnews/bg-img/42.jpg" alt="Avatar">
                                        </div><!-- /.author-avatar -->
                                        <div class="comment-details media-body">
                                            <h3 class="name"><a href="#">Keith West</a></h3><!-- /.name -->
                                            <p>
                                                Donec sed elementum mi. Duis mattis dolor ante, eleifend dapibus ipsum pellentesque venenatis. Nullam elementum ligula et rhoncus inter dum. In malesuada aliquam ligula in dapibus.
                                            </p>
                                            <a href="#" class="btn reply">Reply</a>
                                            <time datetime="PT04H0M">4 hours ago</time>
                                        </div><!-- /.comment-details -->
                                    </li><!-- /.comment -->
                                    <li class="comment parent media">
                                        <div class="author-avatar media-left pull-left">
                                            <img class="img-circle" src="~/imgnews/bg-img/35.jpg" alt="Avatar">
                                        </div><!-- /.author-avatar -->
                                        <div class="comment-details media-body">
                                            <h3 class="name"><a href="#">Grace Armstrong</a></h3><!-- /.name -->
                                            <p>
                                                Etiam eros lorem, convallis eget risus ac, aliquam suscipit lorem. Vivamus et nisi sit amet neque maximus vehicula. Curamollis tristique ante quis rhoncus. Quisque dapibus consequat libero, tristique pharetra velit mollis maximus. Morbi pretium, fermentum scelerisque faucibus, nisl odio ultricies nibh, quis euismod libero dolor quis lacus.
                                            </p>
                                            <a href="#" class="btn reply">Reply</a>
                                            <time datetime="PT04H0M">4 hours ago</time>
                                        </div><!-- /.comment-details -->
                                    </li><!-- /.comment -->
                                    <li class="comment parent media">
                                        <div class="author-avatar media-left pull-left">
                                            <img class="img-circle" src="~/imgnews/bg-img/26.jpg" alt="Avatar">
                                        </div><!-- /.author-avatar -->
                                        <div class="comment-details media-body">
                                            <h3 class="name"><a href="#">Randy Kelly</a></h3><!-- /.name -->
                                            <p>
                                                Suspendisse mollis arcu non turpis placerat mattis. Nullam scelerisque elit non sem euismod, et ultrices arcu vestibulum.
                                            </p>
                                            <a href="#" class="btn reply">Reply</a>
                                            <time datetime="PT04H0M">4 hours ago</time>
                                        </div><!-- /.comment-details -->
                                    </li><!-- /.comment -->
                                    <li class="comment parent media">
                                        <div class="author-avatar media-left pull-left">
                                            <img class="img-circle" src="~/imgnews/bg-img/10.jpg" alt="Avatar">
                                        </div><!-- /.author-avatar -->
                                        <div class="comment-details media-body">
                                            <h3 class="name"><a href="#">Carol Brown</a></h3><!-- /.name -->
                                            <p>
                                                Sed luctus magna eget risus euismod cursus. Praesent facilisis suscipit ex. Phasellus at dolor erat. Maecenas porttitor velit at eros dignissim sollicitudin. Fusce leo turpis, consequat non elementum vitae, semper ac magna.
                                            </p>
                                            <a href="#" class="btn reply">Reply</a>
                                            <time datetime="PT04H0M">4 hours ago</time>
                                        </div><!-- /.comment-details -->
                                    </li><!-- /.comment -->
                                </ul><!-- /.comment-list -->
                            </div><!-- /.comments -->
                        </div><!-- /.single-post -->
                    </div>

                    <div class="col-sm-4">
                        <aside class="sidebar text-center">
                            <div class="widget widget_about_author">
                                <h3 class="widget-title">About Teacher</h3><!-- /.widget-title -->
                                <div class="widget-details">
                                    <div class="author-avatar"><img src="~/imgnews/bg-img/40.jpg" alt="Avatar" class="img-circle"></div><!-- /.author-avatar -->
                                    <p>
                                        Ahasellus rhoncus laoreet odio, sit amet rutrum metus aliquet quis. Sed sed nulla erat. Curabitur ullamcorper dum tortor.
                                    </p>
                                    <div class="author-social">
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div><!-- /.author-social -->
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->

                            <div class="widget widget_insta_feed">
                                <h3 class="widget-title">Instagram</h3><!-- /.widget-title -->
                                <div class="widget-details">
                                    <a href="#"><img src="~/imgnews/bg-img/22.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="~/imgnews/bg-img/23.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="~/imgnews/bg-img/24.jpg" alt="Instagram Image"></a>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->


                            <div class="widget widget_ad">
                                <div class="widget-details">
                                    <a href="#" class="ad-banner"><img src="~/imgnews/bg-img/19.jpg" alt="Ad Banner"></a>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->
                        </aside><!-- /.sidebar -->
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.padding -->
    </section>
</div>